.header{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 80px;
    background-color:lightpink;
    cursor: pointer;
    gap: 70%;


    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "amaticSC-regular";
        font-size: 25px;
      
    }

    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-weight: 300;

        .logo{
            width: 118%;
            height: 37px;
        }

        i{
            padding-right: 10px;
        }

        
    }
    a:active{
        color:lightcoral;
    }
}