<mat-card class="card">
    <mat-card-title class="title">
       Alterar produto
    </mat-card-title>
    <form >
        <mat-form-field>
            <input matInput placeholder="Nome do produto"  name="name" [(ngModel)]="product.name" />
        </mat-form-field>
        <mat-form-field>
            <input  matInput placeholder="Preço (R$)"  [(ngModel)]="product.price" name="price"  />
        </mat-form-field>
        
            <mat-form-field>
                <input  matInput placeholder="Description" [(ngModel)]="product.discription" name="discription"  />
            </mat-form-field>
        
    </form>
    <button mat-raised-button class="btn-create" (click)="updateProduct()"  >
        Salvar
    </button>
    
    <button mat-raised-button  (click)="cancel()" >
        Cancelar
    </button>


   
</mat-card>

