<mat-card class="mat-elevation-z4 card-container">
    <mat-card-title class="card-title">
        Bem Vindo(a)!
    </mat-card-title>

    <mat-card-subtitle class="card-sub">
        Sistema para exemplificar a construção de um cadastro em angular.
    </mat-card-subtitle>

    <mat-card-subtitle class="card-sub">
        Este sistema foi construido a partir de um curso de Angular9 gratuito oferecido pela <a href="https://www.cod3r.com.br/" target="_blank">cod<span appRed>3</span>r</a> Com direiro a um certificado no final do curso. <br>
        Para acessar o curso basta entrar <a href="https://www.cod3r.com.br/courses/angular-9-essencial" target="_blank">Aqui.</a>
    </mat-card-subtitle>

    <mat-card-subtitle class="card-sub">
        Este é um sistema desenvolvido 100% em angular com sistemas de componentes no Front-End, e com json-server conseguimos criar um modelo de back-end funcional. <br>   
    </mat-card-subtitle>

    <mat-card-subtitle class="card-sub">
        Fique avontade para explorar todo o sistema e suas funcionalidades 😊. <br>
        E caso tenha alguma ideia de melhoria ou feedback  pode me contatar através das minhas <a routerLink="/aboutme">Redes Sociais.</a>
    </mat-card-subtitle>

  

    
</mat-card>
