.card-container{

    .card-title{
        font-size: 3rem;
        line-height: 1.2;
        font-family: nunito-bold;
    }

    .card-sub{
        font-size:1.1em ;
        
        font-family: nunito-bold;
    }

}