<mat-card class="mat-elevation-z4 container ">
   
  <div class="social-media-group">
      <div class="me-img mat-elevation-z4" >   <img src="assets\img\me.PNG " class="" id="" alt="" /></div>
   
        <mat-nav-list class="list-media-social">

            <a mat-list-item>
                <img src="assets/icons/face.png"/>
                Meu face
            </a>
            <a mat-list-item>
                <img src="assets/icons/insta.png"/>
                Meu instagram
            </a>
            <a mat-list-item>
                <img src="assets/icons/link.png"/>
                Meu Linkedin
            </a>
            <a mat-list-item>
                <img src="assets/icons/gmail.png"/>
                Meu Gmail
            </a>
            <a mat-list-item>
                <img src="assets/icons/git.png"/>
                Meu GitHub
            </a>

        </mat-nav-list>
  </div>

  <div class="text-group">
      <p>About me</p>
      <p>
        Olá, Eu me chamo Giovanna, atualmente trabalho como desenvolvedora Front-End na empresa <a style="color: #b2dd4c;" href="https://marketup.com/" target="_blank">MarketUP</a>.
        Ainda estou em fase de aprendizado, Mas evoluindo e conhecendo cada vez mais a cada dia.
        Estou aberta a novas propostas e oportunidades de evoluir na minha carreira.
         Caso queira me conhecer melhor ou me dar algum feedback fique a vontade para me contatar através das minhas redes sociais!<i class="material-icons icon-midle">favorite</i>
      </p>

  </div>

</mat-card>
