<mat-card class="mat-elevation-z4 container ">
   
  <div class="social-media-group">
      <div class="me-img mat-elevation-z4" >   <img src="assets\img\me.PNG " class="" id="" alt="" /></div>
   
        <mat-nav-list class="list-media-social">

            <a mat-list-item>
                <img src="assets/icons/face.png"/>
                Meu face
            </a>
            <a mat-list-item>
                <img src="assets/icons/insta.png"/>
                Meu instagram
            </a>
            <a mat-list-item>
                <img src="assets/icons/link.png"/>
                Meu Linkedin
            </a>
            <a mat-list-item>
                <img src="assets/icons/gmail.png"/>
                Meu Gmail
            </a>
            <a mat-list-item>
                <img src="assets/icons/git.png"/>
                Meu GitHub
            </a>

        </mat-nav-list>
  </div>

  <div class="text-group">
      <p>About me</p>
      <p>
        Why do we use it?
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      </p>

  </div>

</mat-card>
