/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: nunito-bold;
    src: url(/assets/fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: nunito-regular ;
    src: url(/frontEnd/src/assets/fonts/Nunito-Regular.ttf);
}
.red{
    color: #e35e6b;
}


.icon-midle{
    vertical-align: middle;
}